<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>영화정보 검색</title>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <style type="text/css"> .title a {
	display: inline;
	float: none;
}
    </style>
    <!-- jQuery, jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <!-- 여러분이 직접 작성한 script.js -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <script type="text/javascript">

	//페이징
	function goPage(page) {
		/* var pForm = document.pagingForm;
		pForm.curPage.value = page;
		pForm.submit(); */

		$("[name=curPage]").val(page);

		commSearchAjax();
	}
	// 초성 검색
	function fn_chosung_search(chosung) {
		var sForm = document.searchForm;
		if (chosung) {
			sForm.chosung.value = chosung;
		} else {
			sForm.chosung.value = '';
		}
		fn_searchList();
	}
	function fn_chosung(Obj) {
		fn_chosung_search(Obj);
	};
	//조회 버튼 검색
	function fn_searchList(type) {
		var sForm = document.searchForm;
		sForm.searchType.value = type;
		sForm.curPage.value = "1";
		moreCheck();
		var n = $("[name=sNomal]").prop("checked")?"Y":"N";
		var m = $("[name=sMulti]").prop("checked")?"Y":"N";
		var i = $("[name=sIndie]").prop("checked")?"Y":"N";
		$("[name=sMultiChk]").val(n+m+i);
		if(n+m+i == "NNN"){
			alert("영화구분은 한가지 이상 선택하셔야 조회 가능합니다.");
			return false;분
		}
		if (type == 'excel') {
			if (!confirm('많은 양의 데이터를 다운로드시 시간이 오래 걸릴 수 있습니다. 엑셀로 다운받으시겠습니까?'))
				return false;
			//			$(sForm).submitXls();
			var act = $(sForm).attr("action");
			$(sForm).attr("action", "/kobis/business/mast/mvie/searchMovieListXls.do");
			sForm.submit();
			$(sForm).attr("action", act);
			sForm.searchType.value = '';
			return false;
		}

		/* sForm.submit();
		sForm.searchType.value = ''; */

		$("#searchForm").attr("action", "searchMovieList.do");
		commSearchAjax();

	}
	$(function() {
		//엔터검색
		if(!$("#wrap").attr("class")== false){
			if($("#wrap").attr("class").indexOf("admin")<0){
				$("form").find(":text:enabled:not([readonly='readonly'])").each(function(){
					$(this).keypress(function(event){
						if(event.which=='13'){
							if($('#pageIndex').val() != 'undefined') {
								$('#pageIndex').val("1");
							}
							fn_searchList();
						}
					});
				});
			}
		}

		//삭제 영화 스타일 설정
		$(".del").find("td").css({
			"color" : "red"
		}).find("a").css({
			"color" : "red"
		});

		$("#tmpDate").datepicker({
			dateFormat: 'yy-mm-dd'
		});
		//초성검색 버튼 이벤트 등록
		//상세검색 초기상태 레이어 펼치기 접기
		//제작상태 멀티 조회
		$("#sPrdtStatStr").click(function fn_openLayedPop(){
			var opts = {
	          'center' : false ,//가운데 정렬 아님
	  		  'modal'  : true ,
	          'searchname'  : '#sPrdtStatStr', //조회 조건, 이 컴포넌트 아래 위치
	  		  'frmTy'  : 'codes:2202000000', //코드성 조회
	  		  'height': '440',
	  		  'width': '500',
	  		  'seldata':$(this).siblings("[name='sPrdtStatCd']").map(function(){return $(this).val();}),
	  		  'hideRep':true,
	  		  onComplete: function(data){
	  			$("#sPrdtStatStr").parents("div.tf_comm").find("input[name='sPrdtStatCd']").remove();
	  			$("#sPrdtStatStr").val("");
				  for(var i=0; i<data.length; i++){
					  if(i!=0){
						  $("#sPrdtStatStr").val($("#sPrdtStatStr").val()+",");
					  }
					  $("#sPrdtStatStr").val($("#sPrdtStatStr").val()+data[i].korNm);
					  $("#sPrdtStatStr").parents("div.tf_comm").append("<input name='sPrdtStatCd' type='hidden' value='" + data[i].fullCd + "'/>");
				  }
	           }
	      	};
			$("#sPrdtStatStr").layerPopup(opts);
		});
		//영화유형 멀티 조회
		$("#sMovTypeStr").click(function fn_openLayedPop(e){
			var opts = {
	          'center' : false ,//가운데 정렬 아님
	  		  'modal'  : true ,
	          'searchname'  : '#sMovTypeStr', //조회 조건, 이 컴포넌트 아래 위치
	  		  'frmTy'  : 'codes:2201000000', //코드성 조회
	  		  'height': '350',
	  		  'width': '500',
	  		  'seldata':$(this).siblings("[name='sMovTypeCd']").map(function(){return $(this).val();}),
	  		  'hideRep':true,
	  		  onComplete: function(data){
	  			$("#sMovTypeStr").parents("div.tf_comm").find("input[name='sMovTypeCd']").remove();
	  			$("#sMovTypeStr").val("");
				  for(var i=0; i<data.length; i++){
					  if(i!=0){
						  $("#sMovTypeStr").val($("#sMovTypeStr").val()+",");
					  }
					  $("#sMovTypeStr").val($("#sMovTypeStr").val()+data[i].korNm);
					  $("#sMovTypeStr").parents("div.tf_comm").append("<input name='sMovTypeCd' type='hidden' value='" + data[i].fullCd + "'/>");
				  }
	           }
	      	};
			$("#sMovTypeStr").layerPopup(opts);
		});
		//장르 멀티 조회
		$("#sGenreStr").click(function fn_openLayedPop(e){
			var selARR = new Array();
			$(this).parents("div.tf_comm").find("[name='sGenreCd']").each(function(){
				selARR.push( $(this).val());
			});
			var opts = {
	          'center' : false ,//가운데 정렬 아님
	  		  'modal'  : true ,
	          'searchname'  : '#sGenreStr', //조회 조건, 이 컴포넌트 아래 위치
	  		  'frmTy'  : 'codes:2205000000', //코드성 조회
	  		  'height': '450',
	  		  'width': '500',
	  		  'seldata':$(this).siblings("[name='sGenreCd']").map(function(){return $(this).val();}),
	  		  'hideRep':true,
	  		  onComplete: function(data){
	  			$("#sGenreStr").parents("div.tf_comm").find("input[name='sGenreCd']").remove();
	  			$("#sGenreStr").val("");
				  for(var i=0; i<data.length; i++){
					  if(i!=0){
						  $("#sGenreStr").val($("#sGenreStr").val()+",");
					  }
					  $("#sGenreStr").val($("#sGenreStr").val()+data[i].korNm);
					  $("#sGenreStr").parents("div.tf_comm").append("<input name='sGenreCd' type='hidden' value='" + data[i].fullCd + "'/>");
				  }
	           }
	      	};
			$("#sGenreStr").layerPopup(opts);
		});
		//국적 멀티 조회
		$("#sNationStr").click(function fn_openLayedPop(e){
			var selARR = new Array();
			$(this).parents("div.tf_comm").find("[name='sNationCd']").each(function(){
				selARR.push( $(this).val());
			});
			var opts = {
	          'center' : false ,//가운데 정렬 아님
	  		  'modal'  : true ,
	          'searchname'  : '#sNationStr', //조회 조건, 이 컴포넌트 아래 위치
	  		  'frmTy'  : 'tcode:2203000000', //코드성 조회
	  		  'height': '450',
	  		  'width': '650',
	  		  'seldata':selARR,
	  		  'hideRep':true,
	  		  onComplete: function(data){
	  			$("#sNationStr").parents("div.tf_comm").find("input[name='sNationCd']").remove();
	  			$("#sNationStr").val("");
				  for(var i=0; i<data.length; i++){
					  if(i!=0){
						  $("#sNationStr").val($("#sNationStr").val()+",");
					  }
					  $("#sNationStr").val($("#sNationStr").val()+data[i].korNm);
					  $("#sNationStr").parents("div.tf_comm").append("<input name='sNationCd' type='hidden' value='" + data[i].fullCd + "'/>");
				  }
	           }
	      	};
			$("#sNationStr").layerPopup(opts);
		});
		//대표국적 멀티 조회
		$("#sRepNationStr").click(function fn_openLayedPop(e){
			var opts = {
	          'center' : false ,//가운데 정렬 아님
	  		  'modal'  : true ,
	          'searchname'  : '#sRepNationStr', //조회 조건, 이 컴포넌트 아래 위치
	  		  'frmTy'  : 'tcode:2203000000', //코드성 조회
	  		  'height': '450',
	  		  'width': '650',
	  		  'seldata':$(this).siblings("[name='sRepNationCd']").map(function(){return $(this).val();}),
	  		  'hideRep':true,
	  		  onComplete: function(data){
	  			$("#sRepNationStr").parents("div.tf_comm").find("input[name='sRepNationCd']").remove();
	  			$("#sRepNationStr").val("");
				  for(var i=0; i<data.length; i++){
					  if(i!=0){
						  $("#sRepNationStr").val($("#sRepNationStr").val()+",");
					  }
					  $("#sRepNationStr").val($("#sRepNationStr").val()+data[i].korNm);
					  $("#sRepNationStr").parents("div.tf_comm").append("<input name='sRepNationCd' type='hidden' value='" + data[i].fullCd + "'/>");
				  }
	           }
	      	};
			$("#sRepNationStr").layerPopup(opts);
		});
		// 포인트 검색 이벤트 등록
		$("#per").click(); //초기 상테
		$("#onoff li").find("img").each(function() { //포인트 검색 버튼에 이벤트 등록***************
			$(this).click(function() {
				document.searchForm.point.value = $(this).attr(
						"id").replace('per', '');
				fn_searchList();
			});
		});

		// 검색엔진에서 코드값이 넘어오면 바로 팝업 띄움


			$("input[type=checkbox]").prop("checked", true);

		$(".fr .list_sort li a").each(function() { //포인트 검색 버튼에 이벤트 등록
			$(this).click(function() {
				document.searchForm.point.value = $(this)
						.text().replace('%', '').replace('전체',
								'');
				fn_searchList();
			});
		});
	});

	// 검색조건 초기화
	function fn_searchReset() {
		var $frm = $(document.searchForm);
		$frm.find("input:visible").val("");
		$frm.find("[name='sPrdtStatCd']").remove();
		$frm.find("[name='sMovTypeCd']").remove();
		$frm.find("[name='sGenreCd']").remove();
		$frm.find("[name='sGradeCd']").remove();
		$frm.find("[name='sShowTypeCd']").remove();
		$frm.find("[name='sNationCd']").remove();
		$frm.find("[name='chosung']").val("");
		$frm.find("input[type=checkbox]").prop("checked",true);
		$(".list_idx").children().removeClass("on");
		$("#sPrdtYearS").next().find(".slt_coverInner").text("--전체--");
		$("#sPrdtYearS").val("");
		$("#sPrdtYearE").next().find(".slt_coverInner").text("--전체--");
		$("#sPrdtYearE").val("");
		$("#useYn").next().find(".slt_coverInner").text("--전체--");
		$("#useYn").val("");

	}

	//등급검색 추가
	function fn_searchGrade(tObj){
		$tObj = $(tObj);
		var opts = {
		          'center' : false ,//가운데 정렬 아님
		  		  'modal'  : true ,
		          'searchname'  : $tObj, //조회 조건, 이 컴포넌트 아래 위치
		  		  'frmTy'  : 'tcode:2300000000', //코드성 조회
		  		  'height': '450',
		  		  'width': '900',
		  		  'seldata':$tObj.siblings("[name='sGradeCd']").map(function(){return $(this).val();}),
		  		  'hideRep':true,
		  		  onComplete: function(data){
		  			$tObj.val("");
					$tObj.siblings("input[name='sGradeCd']").remove();
		  			for(var i=0; i<data.length; i++){
						  if(i!=0){
				  				$tObj.val($tObj.val()+",");
						  }
		  				$tObj.val($tObj.val()+data[i].korNm);
				  		var	addStr = "<input type='hidden' name='sGradeCd' value='"+data[i].fullCd+"'/>";
				  		$(addStr).insertBefore($tObj);
		  			}
		           }
		      	};
				$tObj.layerPopup(opts);
	}
	// 상영타입 검색추가
	function fn_searchScrn(tObj){
		$tObj = $(tObj);
		var opts = {
		          'center' : false ,//가운데 정렬 아님
		  		  'modal'  : true ,
		          'searchname'  : $tObj, //조회 조건, 이 컴포넌트 아래 위치
		  		  'frmTy'  : 'tcode:5010000000', //코드성 조회
		  		  'height': '450',
		  		  'width': '750',
		  		  'seldata':$tObj.siblings("[name='sShowTypeCd']").map(function(){return $(this).val();}),
		  		  'hideRep':true,
		  		  onComplete: function(data){
		  			$tObj.val("");
					$tObj.siblings("input[name='sShowTypeCd']").remove();
		  			for(var i=0; i<data.length; i++){
		  				if(i!=0){
		  					$tObj.val($tObj.val()+",");
		  				}
		  				$tObj.val($tObj.val()+data[i].korNm);
				  		var	addStr = "<input type='hidden' name='sShowTypeCd' value='"+data[i].fullCd+"'/>";
				  		$(addStr).insertBefore($tObj);
		  			}
		           }
		      	};
				$tObj.layerPopup(opts);
	}
	function btn_more_close(type) {
		if (type == "more") {
			$("input[name='searchOpen']").val("Y");
			$(".drop  *").attr("disabled",false);
		} else if (type == "close") {
			$("input[name='searchOpen']").val("N");
		}
	}
	function fn_chkDataRange(obj, type) {
		//날짜 형식 및 길이 유효성 체크
		if(!gfn_IsValidateYMD($(obj).val())) return;

		//직접입력한 경우 (yyyy-mm-dd 형식으로 변경)
		if($(obj).val().length == 8){
			$(obj).val($(obj).val().substring(0,4) + "-" + $(obj).val().substring(4,6) + "-" + $(obj).val().substring(6,8));
		}

		if(type == "START"){

			$("#tmpDate").datepicker("setDate",$("#cal_start").datepicker("getDate"));
			$("#tmpDate").datepicker("setDate","c+6d");
			if($("#cal_start").datepicker("getDate") > $("#cal_end").datepicker("getDate")){
				$("#cal_end").datepicker("setDate", $("#tmpDate").datepicker("getDate"));
			}
			/* else if($("#tmpDate").datepicker("getDate") < $("#cal_end").datepicker("getDate") ){
				$("#cal_end").datepicker("setDate", $(obj).datepicker("getDate"));
				$("#cal_end").datepicker("setDate", "c+6d");
			} */
		}
		else{

			$("#tmpDate").datepicker("setDate",$("#cal_end").datepicker("getDate"));
			$("#tmpDate").datepicker("setDate","c-6d");
			if($("#cal_start").datepicker("getDate") > $("#cal_end").datepicker("getDate")){
				$("#cal_start").datepicker("setDate", $("#tmpDate").datepicker("getDate"));
			}
			/* else if($("#tmpDate").datepicker("getDate") > $("#cal_start").datepicker("getDate") ){
				$("#cal_start").datepicker("setDate", $(obj).datepicker("getDate"));
				$("#cal_start").datepicker("setDate", "c-6d");
			} */
		}
	}












    </script>
</head>
<body>
<div id="content">
    <h2>영화정보</h2>

    <!-- 검색 폼 -->
    <div class="f_sch">
        <form id="searchForm" action="searchMovieList.do" method="post">
            <input type="hidden" name="CSRFToken" value="token">
            <input type="hidden" name="curPage" value="1">
            <input type="hidden" name="searchType" value="" autocomplete="off">
            <input type="hidden" name="point" value="" autocomplete="off">
            <input type="hidden" name="orderBy" value="1" autocomplete="off">
            <input type="hidden" id="tmpDate" autocomplete="off" class="hasDatepicker">

            <!-- 1단계 검색 (3열 그리드) -->
            <div class="ins">
                <div class="item">
                    <strong class="dot01">영화명</strong>
                    <div class="tf_comm"><input type="text" class="tf"
                                                name="sMovName"></div>
                </div>
                <div class="item">
                    <strong class="dot01">감독명</strong>
                    <div class="tf_comm"><input type="text" class="tf"
                                                name="sDirector"></div>
                </div>
                <div class="wrap_btn">
                    <button type="button" class="btn_blue"
                            onclick="fn_searchList();">조회
                    </button>
                    <button type="button" class="btn_gray"
                            onclick="fn_searchReset();">초기화
                    </button>
                </div>
                <div class="item">
                    <strong class="dot01">제작연도</strong>
                    <div class="period">
                        <div class="slt_comm fl">
                            <!--  -->
                            <select class="slt" name="sPrdtYearS" id="sPrdtYearS">
                                <option value="">--전체--</option>
                                <option value="1925">1925</option>
                                <option value="1926">1926</option>
                                <option value="1927">1927</option>
                                <option value="1928">1928</option>
                                <option value="1929">1929</option>
                                <option value="1930">1930</option>
                                <option value="1931">1931</option>
                                <option value="1932">1932</option>
                                <option value="1933">1933</option>
                                <option value="1934">1934</option>
                                <option value="1935">1935</option>
                                <option value="1936">1936</option>
                                <option value="1937">1937</option>
                                <option value="1938">1938</option>
                                <option value="1939">1939</option>
                                <option value="1940">1940</option>
                                <option value="1941">1941</option>
                                <option value="1942">1942</option>
                                <option value="1943">1943</option>
                                <option value="1944">1944</option>
                                <option value="1945">1945</option>
                                <option value="1946">1946</option>
                                <option value="1947">1947</option>
                                <option value="1948">1948</option>
                                <option value="1949">1949</option>
                                <option value="1950">1950</option>
                                <option value="1951">1951</option>
                                <option value="1952">1952</option>
                                <option value="1953">1953</option>
                                <option value="1954">1954</option>
                                <option value="1955">1955</option>
                                <option value="1956">1956</option>
                                <option value="1957">1957</option>
                                <option value="1958">1958</option>
                                <option value="1959">1959</option>
                                <option value="1960">1960</option>
                                <option value="1961">1961</option>
                                <option value="1962">1962</option>
                                <option value="1963">1963</option>
                                <option value="1964">1964</option>
                                <option value="1965">1965</option>
                                <option value="1966">1966</option>
                                <option value="1967">1967</option>
                                <option value="1968">1968</option>
                                <option value="1969">1969</option>
                                <option value="1970">1970</option>
                                <option value="1971">1971</option>
                                <option value="1972">1972</option>
                                <option value="1973">1973</option>
                                <option value="1974">1974</option>
                                <option value="1975">1975</option>
                                <option value="1976">1976</option>
                                <option value="1977">1977</option>
                                <option value="1978">1978</option>
                                <option value="1979">1979</option>
                                <option value="1980">1980</option>
                                <option value="1981">1981</option>
                                <option value="1982">1982</option>
                                <option value="1983">1983</option>
                                <option value="1984">1984</option>
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                                <option value="2032">2032</option>
                                <option value="2033">2033</option>
                                <option value="2034">2034</option>
                                <option value="2035">2035</option>
                                <option value="2036">2036</option>
                                <option value="2037">2037</option>
                                <option value="2038">2038</option>
                                <option value="2039">2039</option>
                                <option value="2040">2040</option>
                                <option value="2041">2041</option>
                                <option value="2042">2042</option>
                                <option value="2043">2043</option>
                                <option value="2044">2044</option>
                                <option value="2045">2045</option>
                                <option value="2046">2046</option>
                                <option value="2047">2047</option>
                                <option value="2048">2048</option>
                                <option value="2049">2049</option>
                                <option value="2050">2050</option>
                                <option value="2051">2051</option>
                                <option value="2052">2052</option>
                                <option value="2053">2053</option>
                                <option value="2054">2054</option>
                                <option value="2055">2055</option>
                                <option value="2056">2056</option>
                                <option value="2057">2057</option>
                                <option value="2058">2058</option>
                                <option value="2059">2059</option>
                                <option value="2060">2060</option>
                                <option value="2061">2061</option>
                                <option value="2062">2062</option>
                                <option value="2063">2063</option>
                                <option value="2064">2064</option>
                                <option value="2065">2065</option>
                                <option value="2066">2066</option>
                                <option value="2067">2067</option>
                                <option value="2068">2068</option>
                                <option value="2069">2069</option>
                                <option value="2070">2070</option>
                                <option value="2071">2071</option>
                                <option value="2072">2072</option>
                                <option value="2073">2073</option>
                                <option value="2074">2074</option>
                                <option value="2075">2075</option>
                                <option value="2076">2076</option>
                                <option value="2077">2077</option>
                                <option value="2078">2078</option>
                                <option value="2079">2079</option>
                                <option value="2080">2080</option>
                                <option value="2081">2081</option>
                                <option value="2082">2082</option>
                                <option value="2083">2083</option>
                                <option value="2084">2084</option>
                                <option value="2085">2085</option>
                                <option value="2086">2086</option>
                                <option value="2087">2087</option>
                                <option value="2088">2088</option>
                                <option value="2089">2089</option>
                                <option value="2090">2090</option>
                                <option value="2091">2091</option>
                                <option value="2092">2092</option>
                                <option value="2093">2093</option>
                                <option value="2094">2094</option>
                                <option value="2095">2095</option>
                                <option value="2096">2096</option>
                                <option value="2097">2097</option>
                                <option value="2098">2098</option>
                                <option value="2099">2099</option>
                                <option value="2100">2100</option>
                                <option value="2101">2101</option>
                                <option value="2102">2102</option>
                                <option value="2103">2103</option>
                                <option value="2104">2104</option>
                                <option value="2105">2105</option>
                                <option value="2106">2106</option>
                                <option value="2107">2107</option>
                                <option value="2108">2108</option>
                                <option value="2109">2109</option>
                                <option value="2110">2110</option>
                                <option value="2111">2111</option>
                                <option value="2112">2112</option>
                                <option value="2113">2113</option>
                                <option value="2114">2114</option>
                                <option value="2115">2115</option>
                                <option value="2116">2116</option>
                                <option value="2117">2117</option>
                                <option value="2118">2118</option>
                                <option value="2119">2119</option>
                                <option value="2120">2120</option>
                                <option value="2121">2121</option>
                                <option value="2122">2122</option>
                                <option value="2123">2123</option>
                                <option value="2124">2124</option>
                                <option value="2125">2125</option>
                            </select>
                        </div>
                        ~
                        <div class="slt_comm fr">
                            <select class="slt" name="sPrdtYearE" id="sPrdtYearE">
                                <!--  -->
                                <option value="">--전체--</option>
                                <option value="1925">1925</option>
                                <option value="1926">1926</option>
                                <option value="1927">1927</option>
                                <option value="1928">1928</option>
                                <option value="1929">1929</option>
                                <option value="1930">1930</option>
                                <option value="1931">1931</option>
                                <option value="1932">1932</option>
                                <option value="1933">1933</option>
                                <option value="1934">1934</option>
                                <option value="1935">1935</option>
                                <option value="1936">1936</option>
                                <option value="1937">1937</option>
                                <option value="1938">1938</option>
                                <option value="1939">1939</option>
                                <option value="1940">1940</option>
                                <option value="1941">1941</option>
                                <option value="1942">1942</option>
                                <option value="1943">1943</option>
                                <option value="1944">1944</option>
                                <option value="1945">1945</option>
                                <option value="1946">1946</option>
                                <option value="1947">1947</option>
                                <option value="1948">1948</option>
                                <option value="1949">1949</option>
                                <option value="1950">1950</option>
                                <option value="1951">1951</option>
                                <option value="1952">1952</option>
                                <option value="1953">1953</option>
                                <option value="1954">1954</option>
                                <option value="1955">1955</option>
                                <option value="1956">1956</option>
                                <option value="1957">1957</option>
                                <option value="1958">1958</option>
                                <option value="1959">1959</option>
                                <option value="1960">1960</option>
                                <option value="1961">1961</option>
                                <option value="1962">1962</option>
                                <option value="1963">1963</option>
                                <option value="1964">1964</option>
                                <option value="1965">1965</option>
                                <option value="1966">1966</option>
                                <option value="1967">1967</option>
                                <option value="1968">1968</option>
                                <option value="1969">1969</option>
                                <option value="1970">1970</option>
                                <option value="1971">1971</option>
                                <option value="1972">1972</option>
                                <option value="1973">1973</option>
                                <option value="1974">1974</option>
                                <option value="1975">1975</option>
                                <option value="1976">1976</option>
                                <option value="1977">1977</option>
                                <option value="1978">1978</option>
                                <option value="1979">1979</option>
                                <option value="1980">1980</option>
                                <option value="1981">1981</option>
                                <option value="1982">1982</option>
                                <option value="1983">1983</option>
                                <option value="1984">1984</option>
                                <option value="1985">1985</option>
                                <option value="1986">1986</option>
                                <option value="1987">1987</option>
                                <option value="1988">1988</option>
                                <option value="1989">1989</option>
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                                <option value="1996">1996</option>
                                <option value="1997">1997</option>
                                <option value="1998">1998</option>
                                <option value="1999">1999</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                                <option value="2032">2032</option>
                                <option value="2033">2033</option>
                                <option value="2034">2034</option>
                                <option value="2035">2035</option>
                                <option value="2036">2036</option>
                                <option value="2037">2037</option>
                                <option value="2038">2038</option>
                                <option value="2039">2039</option>
                                <option value="2040">2040</option>
                                <option value="2041">2041</option>
                                <option value="2042">2042</option>
                                <option value="2043">2043</option>
                                <option value="2044">2044</option>
                                <option value="2045">2045</option>
                                <option value="2046">2046</option>
                                <option value="2047">2047</option>
                                <option value="2048">2048</option>
                                <option value="2049">2049</option>
                                <option value="2050">2050</option>
                                <option value="2051">2051</option>
                                <option value="2052">2052</option>
                                <option value="2053">2053</option>
                                <option value="2054">2054</option>
                                <option value="2055">2055</option>
                                <option value="2056">2056</option>
                                <option value="2057">2057</option>
                                <option value="2058">2058</option>
                                <option value="2059">2059</option>
                                <option value="2060">2060</option>
                                <option value="2061">2061</option>
                                <option value="2062">2062</option>
                                <option value="2063">2063</option>
                                <option value="2064">2064</option>
                                <option value="2065">2065</option>
                                <option value="2066">2066</option>
                                <option value="2067">2067</option>
                                <option value="2068">2068</option>
                                <option value="2069">2069</option>
                                <option value="2070">2070</option>
                                <option value="2071">2071</option>
                                <option value="2072">2072</option>
                                <option value="2073">2073</option>
                                <option value="2074">2074</option>
                                <option value="2075">2075</option>
                                <option value="2076">2076</option>
                                <option value="2077">2077</option>
                                <option value="2078">2078</option>
                                <option value="2079">2079</option>
                                <option value="2080">2080</option>
                                <option value="2081">2081</option>
                                <option value="2082">2082</option>
                                <option value="2083">2083</option>
                                <option value="2084">2084</option>
                                <option value="2085">2085</option>
                                <option value="2086">2086</option>
                                <option value="2087">2087</option>
                                <option value="2088">2088</option>
                                <option value="2089">2089</option>
                                <option value="2090">2090</option>
                                <option value="2091">2091</option>
                                <option value="2092">2092</option>
                                <option value="2093">2093</option>
                                <option value="2094">2094</option>
                                <option value="2095">2095</option>
                                <option value="2096">2096</option>
                                <option value="2097">2097</option>
                                <option value="2098">2098</option>
                                <option value="2099">2099</option>
                                <option value="2100">2100</option>
                                <option value="2101">2101</option>
                                <option value="2102">2102</option>
                                <option value="2103">2103</option>
                                <option value="2104">2104</option>
                                <option value="2105">2105</option>
                                <option value="2106">2106</option>
                                <option value="2107">2107</option>
                                <option value="2108">2108</option>
                                <option value="2109">2109</option>
                                <option value="2110">2110</option>
                                <option value="2111">2111</option>
                                <option value="2112">2112</option>
                                <option value="2113">2113</option>
                                <option value="2114">2114</option>
                                <option value="2115">2115</option>
                                <option value="2116">2116</option>
                                <option value="2117">2117</option>
                                <option value="2118">2118</option>
                                <option value="2119">2119</option>
                                <option value="2120">2120</option>
                                <option value="2121">2121</option>
                                <option value="2122">2122</option>
                                <option value="2123">2123</option>
                                <option value="2124">2124</option>
                                <option value="2125">2125</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <strong class="dot01">개봉일자</strong>
                    <div class="period">
                        <div class="fl">
                            <label for="cal_start" class="btn_cal"><span class="ico_comm">달력</span></label>
                            <div class="tf_comm">
                                <input type="text" id="cal_start" name="sOpenYearS"
                                       onchange="fn_chkDataRange(this,'START')" class="tf tf_cal hasDatepicker" value=""
                                       autocomplete="off">
                            </div>
                        </div>
                        ~
                        <div class="fr">
                            <label for="cal_end" class="btn_cal"><span class="ico_comm">달력</span></label>
                            <div class="tf_comm">
                                <input type="text" id="cal_end" name="sOpenYearE" onchange="fn_chkDataRange(this,'END')"
                                       class="tf tf_cal hasDatepicker" value="" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 분리선 -->
            <hr class="separator">

            <!-- 2단계 검색 (숨김/토글) -->
            <div class="drop" style="display: block;">
                <div class="item">
                    <strong class="dot01">제작상태</strong>
                    <div class="tf_comm">
                        <input type="text" class="tf" name="sPrdtStatStr" id="sPrdtStatStr" value="" autocomplete="off">

                    </div>
                </div>
                <div class="item">
                    <strong class="dot01">유형</strong>
                    <div class="tf_comm">
                        <input type="text" class="tf" name="sMovTypeStr" id="sMovTypeStr" value="" autocomplete="off">

                    </div>
                </div>
                <div class="item">
                    <strong class="dot01">장르별</strong>
                    <div class="tf_comm">
                        <input type="text" class="tf" name="sGenreStr" id="sGenreStr" value="" autocomplete="off">

                    </div>
                </div>
                <div class="item">
                    <strong class="dot01">국적별</strong>
                    <div class="tf_comm">
                        <input type="text" class="tf" name="sNationStr" id="sNationStr" value="" autocomplete="off">

                    </div>
                </div>
                <div class="item">
                    <strong class="dot01">등급별</strong>
                    <div class="tf_comm">
                        <input type="text" class="tf" name="sGradeStr" id="sGradeStr" onclick="fn_searchGrade(this);"
                               value="" autocomplete="off">

                    </div>
                </div>
                <div class="item">
                    <strong class="dot01">대표국적별</strong>
                    <div class="tf_comm">
                        <input type="text" class="tf" name="sRepNationStr" id="sRepNationStr" value=""
                               autocomplete="off">

                    </div>
                </div>
                <div class="item">
                    <strong class="dot01">상영타입별</strong>
                    <div class="tf_comm">
                        <input type="text" class="tf" name="sShowTypeStr" id="sShowTypeStr"
                               onclick="fn_searchScrn(this);" value="" autocomplete="off">

                    </div>
                </div>
                <div class="item">
                    <strong class="dot01">영화구분</strong>
                    <div style="line-height: 27px;margin-right: 0px;float: left;">
                        <input type="hidden" name="sMultiChk" autocomplete="off" value="YYY">
                        <input type="checkbox" name="sNomal" id="sNomal" value="Y" class="chk_comm" title="선택"
                               autocomplete="off"><label for="sNomal">일반영화 &nbsp;&nbsp;</label>
                        <input type="checkbox" name="sMulti" id="sMulti" value="Y" class="chk_comm" title="선택"
                               autocomplete="off"><label for="sMulti">예술영화 &nbsp;&nbsp;</label>
                        <input type="checkbox" name="sIndie" id="sIndie" value="Y" class="chk_comm" title="선택"
                               autocomplete="off"><label for="sIndie">독립영화</label>
                    </div>
                </div>
                <div class="item" style="display:none;">
                    <strong class="dot01">사용여부</strong>
                    <div class="slt_comm">
                        <select class="slt" name="useYn" id="useYn">
                            <option value="A">--전체--</option>
                            <option value="Y" selected="selected">정상</option>
                            <option value="N">삭제</option>
                            <option value="P">삭제대상</option>
                        </select>
                    </div>
                </div>
                <div class="item item_idx">
                    <strong class="dot01">영화명 인덱싱</strong>
                    <ul class="list_idx">
                        <li class="on"><a href="javascript:fn_chosung_search('ㄱ');">ㄱ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㄴ');">ㄴ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㄷ');">ㄷ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㄹ');">ㄹ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅁ');">ㅁ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅂ');">ㅂ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅅ');">ㅅ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅇ');">ㅇ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅈ');">ㅈ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅊ');">ㅊ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅋ');">ㅋ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅌ');">ㅌ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅍ');">ㅍ</a></li>
                        <li><a href="javascript:fn_chosung_search('ㅎ');">ㅎ</a></li>
                    </ul>
                    <ul class="list_idx">
                        <li><a href="javascript:fn_chosung_search('A');">A</a></li>
                        <li><a href="javascript:fn_chosung_search('B');">B</a></li>
                        <li><a href="javascript:fn_chosung_search('C');">C</a></li>
                        <li><a href="javascript:fn_chosung_search('D');">D</a></li>
                        <li><a href="javascript:fn_chosung_search('E');">E</a></li>
                        <li><a href="javascript:fn_chosung_search('F');">F</a></li>
                        <li><a href="javascript:fn_chosung_search('G');">G</a></li>
                        <li><a href="javascript:fn_chosung_search('H');">H</a></li>
                        <li><a href="javascript:fn_chosung_search('I');">I</a></li>
                        <li><a href="javascript:fn_chosung_search('J');">J</a></li>
                        <li><a href="javascript:fn_chosung_search('K');">K</a></li>
                        <li><a href="javascript:fn_chosung_search('L');">L</a></li>
                        <li><a href="javascript:fn_chosung_search('M');">M</a></li>
                        <li><a href="javascript:fn_chosung_search('N');">N</a></li>
                        <li><a href="javascript:fn_chosung_search('O');">O</a></li>
                        <li><a href="javascript:fn_chosung_search('P');">P</a></li>
                        <li><a href="javascript:fn_chosung_search('Q');">Q</a></li>
                        <li><a href="javascript:fn_chosung_search('R');">R</a></li>
                        <li><a href="javascript:fn_chosung_search('S');">S</a></li>
                        <li><a href="javascript:fn_chosung_search('T');">T</a></li>
                        <li><a href="javascript:fn_chosung_search('U');">U</a></li>
                        <li><a href="javascript:fn_chosung_search('V');">V</a></li>
                        <li><a href="javascript:fn_chosung_search('W');">W</a></li>
                        <li><a href="javascript:fn_chosung_search('X');">X</a></li>
                        <li><a href="javascript:fn_chosung_search('Y');">Y</a></li>
                        <li><a href="javascript:fn_chosung_search('Z');">Z</a></li>
                        <input type="hidden" name="chosung" value="ㄱ">
                        <input type="hidden" name="searchOpen" value="Y">
                    </ul>
                </div>
            </div>
        </form>

        <!-- 더보기 / 닫기 -->
        <div class="more open">
            <a href="javascript:;" class="btn_more" onclick="btn_more_close('more');">더보기<span class="ico_comm"></span></a>
            <a href="javascript:;" class="btn_close" onclick="btn_more_close('close');">닫기</a>
        </div>
    </div>

    <!-- 결과 -->
    <div class="rst_sch">
        <div class="hd_rst">
            <span class="total">총 <em class="fwb">111,856</em>건</span>
            <div class="fr">
                <select class="slt" name="sOrderBy" id="sOrderBy">
                    <option value="1">최신업데이트순</option>
                    <option value="2">제작연도순</option>
                    <option value="3">영화명순(ㄱ~Z)</option>
                    <option value="4">개봉일순</option>
                </select>
            </div>
        </div>
        <table class="tbl_comm">
            <colgroup>
                <col width="15%">
                <col width="15%">
                <col width="10%">
                <col width="6%">
                <col width="6%">
                <col width="6%">
                <col width="6%">
                <col width="6%">
                <col width="15%">
                <col width="15%">
            </colgroup>
            <thead>
            <tr>
                <th>영화명</th>
                <th>영화명(영문)</th>
                <th>영화코드</th>
                <th>제작연도</th>
                <th>제작국가</th>
                <th>유형</th>
                <th>장르</th>
                <th>제작상태</th>
                <th>감독</th>
                <th>제작사</th>
            </tr>
            </thead>
            <tbody>
            <!-- 여기에 AJAX로 결과 채움 -->
            </tbody>
        </table>
        <div class="paging">
            <ul class="list_page">
                <li><a href="javascript:goPage(1)" class="on">1</a></li>
                <li><a href="javascript:goPage(2)">2</a></li>
                <!-- … -->
            </ul>
            <a href="javascript:goPage(2)" class="btn next">다음</a>
            <a href="javascript:goPage(11186)" class="btn last">마지막</a>
        </div>
    </div>
</div>


</body>
</html>